In [1]:
print()

In [ ]:
print("saurabh singh ")

In [3]:
"the back shadow"

'the back shadow'

In [4]:
43526+879-43526

879

In [9]:
print(1, 2, 3, 4,5, 6, sep="*")

1*2*3*4*5*6

In [12]:
print("this is python")
print("this is interpreted languge " , end=' ')
print("it is very fst")

this is python
this is interpreted languge  it is very fst

In [23]:
age = 18
color = 'red '
name = 'bob'
is_playing = True
del age,color,name,is_playing

*datatype can be changed by the value of variable*

In [ ]:
t = 98765432198765432198765433219876543222245252553535353435625346453754275732845236487294525467324573266145376457365463257326
u = 745638578375985748765876895987565665746875673465736576457698465734658476578768767657656589676654558769675535478696786787987987876875675766786786986768756657587
s = t+u
print(s)

In [21]:
x= 12
y=1233
z=12345
z=1.2e100

In [24]:
name= "brue lee"
stream = "movie world"

In [30]:
print("lists are in [] bracket"
"tuples are in () bracket"  
"sets are in {} braces unordered sequence")

lists are in [] brackettuples are in () bracketsets are in {} braces unordered sequence

In [37]:
car_info = {"brand":"ford",
"model":"mustang",
"year":"1964"}
print(car_info)

{'brand': 'ford', 'model': 'mustang', 'year': '1964'}

In [1]:
name = input("enter the name")
print(name)

saurabh

In [2]:
# assignment operators

In [7]:
x,y,z = 10,20,30
x+=4
print(x)
y/=2
print(y)
z%=3
print(z)
x,y,z=z,y,x
print(x,y,z)

14
10.0
0
0 10.0 14

In [8]:
# comparision operator

In [9]:
'''>
>=
==
<
<=
!='''

'>\n>=\n==\n<\n<=\n!='

In [10]:
# LOGICAL OPERATORS

In [13]:
"AND , OR , NOT "

'AND , OR , NOT '

In [15]:
a =5
b = 10
print (a>b and a>5)
print (a<b and a>5)

print (a>b or a>5)
print (a<b or a>5)

False
False
False
True

In [16]:
# membership operator

In [17]:
colors = [ 'red', 'blue','green']
print('red' in colors)

True

In [27]:
myS = ['my', 'name', 'is', 'saurabh' ,'singh', 'im']
print(myS[3])
dfg = "i m saurabh singh "
print('saurabh' in dfg)
print ('barabanki' not in dfg)

saurabh
True
True

WAP TO CALCULATE THE AREA OF A CIRCLE
WAP TO CALCULATE THE AREA OF A RECTANGLE
WAP TO CALCULATE THE AREA OF A TRIANGLE
WAP TO CALCULATE TRHE HYPOTENIUS USING PERPENDICULAR AND BASE
FACTORIAL OF 5

In [30]:
num = int(input("enter the radius of the circle"))
t = 3.14*num
area = t*num
print(area)

200.96

In [32]:
 num =int(input("enter the length of the rectangle"))
num2 =int(input("enter the breadth of the rectangle"))
area = num*num2
print("the area of rectangle ", area)

the area of rectangle  120

In [33]:
num =int(input("enter the height of the rectangle"))
num2 =int(input("enter the breadth of the rectangle"))
area1 = (num*num2)/2
print("area of triangle",area1)

area of triangle 60.0

In [36]:
import math
p1 = float(input("enter the perpendicular"))
b = float(input("enter base"))
t= math.hypot(p1,b)
print(t)

25.942243542145697

In [37]:
p1 = float(input("enter the number"))
fact = math.factorial(p1)
print(fact)

120

C:\Users\LENOVO\AppData\Local\Temp\ipykernel_9772\3625347084.py:2: DeprecationWarning: Using factorial() with floats is deprecated
  fact = math.factorial(p1)

In [39]:
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [1]:
a=int(input("Number of elements in the array:-"))
n=list(map(int, input("elements of array:-").strip().split()))
print(n)
t = max(n)
print(t)

[1]
1