In [1]:
list1 =['nikhil','values','saurabh']
list2 = [1,2,3,4,5]

In [2]:
list3 = [2,4,6,'a',10,'b',16]
print('list3= ',list3)

list3=  [2, 4, 6, 'a', 10, 'b', 16]

In [3]:
str ="saurabh"
print(str)

saurabh

In [4]:
x = [1,2,3,4,5,6,7]
mean= sum(x)/len(x)
print(mean)

4.0

In [15]:
l1 = [1,2,3]
l2 = [4,5,6]
s =[]
for i in range(len(l1)):
    s.append(l1[i]+l2[i])
print("new list=", s)

new list= [5, 7, 9]

In [20]:
t = [2,4,6,8]
u =[]
for i in t:
    u.append(i**2)
print(t)
print(u)

[2, 4, 6, 8]
[4, 16, 36, 64]

In [2]:
b =[ 1,2,3,4,5,6]
d = []
for i in b:
    if i%2==1:
        d.append(i**2)
print(b)
print(d)

[1, 2, 3, 4, 5, 6]
[1, 9, 25]

In [31]:
words1 = [ 'Rahul gandhi','Narendra modi','arvind khejrival','barabanki lucknow']
abr = []
for item in words1:
    items = item.split()
    s =""
    for i in items:
        s+=i[0]
    abr.append(s)
print("abr ==",abr)

abr == ['Rg', 'Nm', 'ak', 'bl']

In [5]:
# take a list from user in one of input and then
# remove all the non numeric values from the list
# then display the cubes of numbers from the list

entries= input('enter data separated with space: ')
# entries=['12', '42', '32', 'banana', 'apple', '333', '54', '77', '31', '88']
print(entries)
numeric_entries=[]
for value in entries.split():
    if value.isnumeric():
        numeric_entries.append(int(value))


print(numeric_entries)
#cubes of numbers
cubes=[i**3 for i in numeric_entries]    #list comprehension
print(cubes)  #

32 43, gagsh,344,3 63
[32, 63]
[32768, 250047]

# list Comprehension

- is a way to create

In [6]:
x=[2,3,4,5,6,7,8]
x2=[i**2 for i in x if i%2!=0]

In [2]:
jk=[]
jk.append("apple")
jk.append("sugar")
jk.append("mango")
print(jk)

['apple', 'sugar', 'mango']

In [3]:
newlist = []
for x in jk:
    if "a" in x:
        newlist.append(x)
print(newlist)

['apple', 'sugar', 'mango']

In [4]:
x = [12,13,134,19,10]
x2=[]
for i in x:
    o=i+7
    x2.append(o)
print(x2)

[19, 20, 141, 26, 17]

In [1]:
str = "t"
print(str)

t

In [13]:
n = int(input())
list0 = list(map(int,input().split()))
print(list0)
t =  []
s=[]
for i in range(n):
    if i%2==0:
        t.append(list0[i])
    else:
        s.append(list0[i])
s=sorted(s)
print(t)
print(s)
print(max(s))

[11, 22, 33, 44, 55]
[11, 33, 55]
[22, 44]
44

In [ ]:
naming ={'A':1, 'B':2,'C:':3}
print(naming)

In [ ]:
n1 = int(input("enter the size of the array"))
arr1 = list(map(int,input("enter the elements of array").split()))
sum1=[]
for i in range(n):
    if arr1[0]==arr1[i+1]+1:
        arr1.remove(arr1[i+1])